# Endereço de conexão com o banco de dados Postgres.
# Em desenvolvimento, usamos um Postgres local.
# Em produção (Vercel), use a variável que a Vercel cria automaticamente ao adicionar o Postgres.
DATABASE_URL="postgresql://USUARIO:SENHA@HOST:5432/NOME_DO_BANCO?schema=public"
